body {
    
    color:rgb(148, 18, 148);
    background:pink ;
    margin: 0px;
    font-family: "Shadows Into Light", cursive;
}

header{
border-bottom: solid 4px rgb(72, 72, 196);
padding: 10px;
font-size: 22px;
color: rgb(255, 159, 175);
}
section{
    background: rgb(184, 156, 213);
    padding-bottom: 90px;
    padding-top: 90px;
    padding-left: 200px;

}

    h1 {
        font-size: 40px;
    }
p {
    font-size: 20px;
}
img {
    height: 200px;
  }